I've put all of our code into a repository. To install it, go to the root directory and run `pip install -e .`.

Grabs the code for processing the enron data set

In [2]:
from willireply.data import enron
import pandas as pd

/usr/local/lib/python3.6/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

Index the enron corpus into the file specified as follows:

In [2]:
# These are set by the .env file in your project root. Use .env.example as a guideline
print(enron.ENRON_FOLDER)
print(enron.ENRON_INDEX_FOLDER)

/Users/macpro/Documents/enron/maildir
/Users/macpro/Documents/enron/indices

All magic occurs in these two lines

In [3]:
#enron.delete_indices()
enron.index('donoho-l','crandell-s','baughman-d','hayslett-r')
enron.label()

HBox(children=(IntProgress(value=0, description='users', max=4, style=ProgressStyle(description_width='initial…

HBox(children=(IntProgress(value=0, description='folders', max=5, style=ProgressStyle(description_width='initi…

HBox(children=(IntProgress(value=0, description='folders', max=5, style=ProgressStyle(description_width='initi…

HBox(children=(IntProgress(value=0, description='folders', max=15, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='folders', max=20, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='users', max=10, style=ProgressStyle(description_width='initia…

HBox(children=(IntProgress(value=0, description='emails', max=437, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='emails', max=939, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='emails', max=1306, style=ProgressStyle(description_width='ini…

HBox(children=(IntProgress(value=0, description='emails', max=1516, style=ProgressStyle(description_width='ini…

HBox(children=(IntProgress(value=0, description='emails', max=1687, style=ProgressStyle(description_width='ini…

HBox(children=(IntProgress(value=0, description='emails', max=317, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='emails', max=1492, style=ProgressStyle(description_width='ini…

HBox(children=(IntProgress(value=0, description='emails', max=5218, style=ProgressStyle(description_width='ini…

HBox(children=(IntProgress(value=0, description='emails', max=342, style=ProgressStyle(description_width='init…

HBox(children=(IntProgress(value=0, description='emails', max=1655, style=ProgressStyle(description_width='ini…

An example of how to use the processed data

In [2]:
df = enron.get_dataframe('may-l')
results_df = df.query('did_reply == 1').loc[:, ['reply_id']].iloc[:10]
results_df

     reply_id
id
20     1398.0
61     1388.0
155    1358.0
156    1342.0
233    1344.0
261    1340.0
280    1346.0
297    1348.0
322    1360.0
352    1371.0

In [3]:
for idx, row in results_df.iterrows():
    s1 = df.loc[idx].subject
    s2 = df.loc[row['reply_id']].subject
    print('{: <35} \t {: <35}'.format(s1[:35], s2[:35]))

PG&E Energy Trading                 	 PG&E Energy Trading
Houston Ballet's Miller Theater Per 	 Houston Ballet's Miller Theater Per
ELM Finance Course Offerings        	 FW: ELM Finance Course Offerings
Straddle Problem                    	 RE: Straddle Problem
RE: Lawrence May                    	 RE: Lawrence May
FW: lawyers                         	 FW: lawyers
A Two States Model For Power        	 A Two States Model For Power
RE: re: site blocked                	 RE: re: site blocked
RE: Straddle Problem                	 RE: Straddle Problem
Option quotes                       	 FW: Option quotes